/* @import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  /* background-color: #c4c4c4; */
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  /* background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh; */
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.rtl-font {
  /* font-family: "Noto Nastaliq Urdu", Arial, Helvetica, sans-serif; */
  font-family: "Gulzar", serif !important;
  padding-top: 15px !important;
  height: 40px !important;
}
